*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
   
    justify-content: center;
     align-items: center;


}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: darkgoldenrod;
    background-color: rosybrown;
}
#btn{
    padding: 1rem;
    font-size: 5vmin;
    border-radius: 2rem;
    background-color: cornflowerblue;
    border: none; 
}
#nbtn{
   padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: cornflowerblue;
    border: none; 
    background-color: #191913;
    color: #fff;
} 
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.mc{
    height: 30vmin;
    display: none;
}